/*

      ____    ______  ______  ____    ______   __    __ 
     /\  _`\ /\__  _\/\__  _\/\  _`\ /\  _  \ /\ \  /\ \
     \ \ \L\ \/_/\ \/\/_/\ \/\ \ \/\ \ \ \L\ \\ `\`\\/'/
      \ \  _ <' \ \ \   \ \ \ \ \ \ \ \ \  __ \`\ `\ /' 
       \ \ \L\ \ \_\ \__ \ \ \ \ \ \_\ \ \ \/\ \ `\ \ \ 
        \ \____/ /\_____\ \ \_\ \ \____/\ \_\ \_\  \ \_\
         \/___/  \/_____/  \/_/  \/___/  \/_/\/_/   \/_/
         
         					Hello  :)
         					
         				CSS Version: 1.1
*/


html {
    height: 100%
}
body {
background: #083ca5; /* Old browsers */
background: -moz-linear-gradient(top, #083ca5 5%, #3ac7ff 22%, #eacbf3 38%, #fdfcf0 49%, #fcebdb 55%, #ffb58d 62%, #ff6642 69%, #95004d 76%, #000000 83%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#083ca5), color-stop(22%,#3ac7ff), color-stop(38%,#eacbf3), color-stop(49%,#fdfcf0), color-stop(55%,#fcebdb), color-stop(62%,#ffb58d), color-stop(69%,#ff6642), color-stop(76%,#95004d), color-stop(83%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #083ca5 5%,#3ac7ff 22%,#eacbf3 38%,#fdfcf0 49%,#fcebdb 55%,#ffb58d 62%,#ff6642 69%,#95004d 76%,#000000 83%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #083ca5 5%,#3ac7ff 22%,#eacbf3 38%,#fdfcf0 49%,#fcebdb 55%,#ffb58d 62%,#ff6642 69%,#95004d 76%,#000000 83%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #083ca5 5%,#3ac7ff 22%,#eacbf3 38%,#fdfcf0 49%,#fcebdb 55%,#ffb58d 62%,#ff6642 69%,#95004d 76%,#000000 83%); /* IE10+ */
background: linear-gradient(to bottom, #083ca5 5%,#3ac7ff 22%,#eacbf3 38%,#fdfcf0 49%,#fcebdb 55%,#ffb58d 62%,#ff6642 69%,#95004d 76%,#000000 83%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9be2ff', endColorstr='#ae3b54',GradientType=0 ); /* IE6-9 */

}

body {
	background-repeat: no-repeat;
    background-color: #000000; /* ending colour of gradient */
}

div#menubar {
background: #232323; /* Old browsers */
	background: -moz-linear-gradient(top, #232323 0%, #232323 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#232323), color-stop(0%,#232323), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #232323 0%,#232323 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #232323 0%,#232323 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #232323 0%,#232323 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #232323 0%,#232323 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	
	width: 100%;
	height: 50px;
}

div#icon {
	width: 35px;
	height: 35px;
	margin: 0 auto;
	padding-top: 7px;
}

div#wrapper {
	max-width: 1000px;
	margin: 2% auto 0 auto;
	padding: 40px;
	text-align: center;
}

div#logo {
	max-width: 337px;
	height: 61px;
	margin: 0 auto;
	padding-top: 70px;
}

.center {
	display: block;
	margin: 0 auto;
}

img {
	max-width: 100%;
}
	
/* Slideshow Functions */

div#ss-wrapper {
	max-width: 700px;
	max-height: 396px;
	margin: 0 auto;
	padding-top: 60px;
}

div#slideshow {
    position:relative;
    height:396px;
}

div#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:7;
    opacity:0.0;
}

#slideshow IMG.active {
    z-index:9;
    opacity:1.0;
}

#slideshow IMG.last-active {
    z-index:8;
}

div#slideshow-text-overlay {
	color: white;
	cursor: pointer;
	display: table;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 10;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
}

#slideshow:hover div#slideshow-text-overlay {
	opacity: 1;
}

div#slideshow-text-overlay span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 20px;
}

img.thumbnail {
	max-width: 700px;
	max-height: 396px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Text Properties */

h1, p, p.info {
font-family: 'Lato', sans-serif;
color: #fff;
}

h1 {
font-size: 60px;
font-weight: 100;
padding-bottom: 8px;
}

p {
font-weight: 900;
font-size: 14px;
text-transform: uppercase;
letter-spacing: 1px;
}

optgroup {
	font-size:25px;
}

select.screenres {
	margin: 20px 20px 8px 20px;
	font-size: 25px;
	text-transform: uppercase;
	background: url("../img/arrow.png") right no-repeat #000;
	-webkit-appearence: none;
	color: #eee;
	height: 40px;
	width: 300px;
	letter-spacing: 1px;
	font-weight: 400;
	border: 1px solid black;
}


p.info {
font-size: 8px;
text-transform: uppercase;
font-weight: 400;
letter-spacing: 1px;
}

p.info a {
color: #c9c9c9;
text-decoration: none;
}

p.info a:hover {
color: #fff;
}

img.os {
padding-right: 100px;
}
